body {
    
}
div#sidenav {
    border-right: dotted #090909;
    padding-right: 20px;
}
div#rightnav {
    border-left: dotted #090909;
    padding-left: 20px;
}
ul#bottom_nav {
    padding-bottom: 10px;
    border-bottom: dotted #090909;
}
#details {
    display: none;
}
